*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
.navbar{
  height: 60px;
  background-color:white;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.nav-logo{
  height: 50px;
  width:100px ;
}
.logo{
  background-image: url('img.png');
  background-size: cover;
  height: 70px;
  width: 100%;
  margin-bottom: 5px;
}
.border{
border: 2px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
}
/**/
.panel{
  height: 40px;
  background-color: rgb(255, 95, 21);
  display: flex;
  color:white;
  align-items: center;
  justify-content: space-evenly;  
}
.panel-ops a{
  display: inline;
  margin-left: 25px;
  color: white;
  
}
.panel-ops{
  width: 70%;
  font-size: 0.85rem;
}
.panel-search{
  
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
}
.search-input{
  
  border:rgb(255, 95, 21);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  border: none;
  transition: all .3s ease;
  width: 240px;
  
}

.search-icons{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 0;
}
/**/
.main-content{
  width: 1600px;
  height: 600px;
  background-size: cover;
  background-image: url(theme-image3.avif);
}
.content{
  color:black;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
  font: 1em sans-serif;
}
/**/
.shop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(224, 126, 90);
}
.box{
  
  height: 400px;
  width: 23%;
 background-color: white;
 padding: 20px 0px 15px;
 margin-top: 20px;
}
.box-img{
  height: 300px;
}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
/**/
.small-content{
  background-color: rgb(226, 122, 84);

}

.small-img{
  border-radius: 15px 15px 15px 15px;
  width: 1500px;
  height: 150px;
padding-left: 5px;
padding-right: 5px;
  
}
/**/
.big-content{
  margin-top: 15px;
  color: white;
  margin-left:5px ;

}
.background{
  width: 1500px;
  background-color: rgb(235, 168, 143); 
  height: 400px;
  border-radius: 35px 35px 35px 35px;
  align-items:center;
}
footer{
  margin-top:15px;
}
.foot-panel1{
  background-color: #E25825;
  color: white;
  height: 50px;
  display: flex;
justify-content: center;
align-items: center;
font-size: 0.85rem;
}
.foot-panel2{
  background-color: #F98128;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}
ul a{
  display: block;
  font-size: 0.85rem;
  margin: 15x;
}